<div class="sidebar" data-color="purple" data-background-color="white" data-image="static/assets/img/sidebar-1.jpg">
  

    <!-- Menu card -->
    <div class="logo"><a href="#" class="simple-text logo-normal">
        <i class="fab fa-pied-piper" style="font-size: 35px;color:#820199;"></i><span style="font-family:'Times New Roman';font-size: 22px;color:#C63ADF" > Tele Medicines</span>
       </a></div>
     <div class="sidebar-wrapper">
       <ul class="nav">
         <li class="nav-item">
          <i class="fas fa-users-cog"  style="margin-left: 30px;"></i>
          <p> Welcome {{emp_name}} </p>
          <p id="emp_id" style="display: none;">{{ emp_id }}</p>
         </li>


         {% if menu == "home" %}
            <li class="nav-item active">
            <a class="nav-link" href="Employee_dashboard_route">
                <i class="fas fa-tachometer-alt"></i>
                <p>Dashboard</p>
            </a>
            </li>
         {% else %}
            <li class="nav-item">
            <a class="nav-link" href="Employee_dashboard_route">
                <i class="fas fa-tachometer-alt"></i>
                <p>Dashboard</p>
            </a>
            </li>
        {% endif %}




        {% if menu == "customer" %}
            <li class="nav-item active">
            <a class="nav-link" href="Emp_Customer_view">
                <i class="fas fa-user"></i>
                <p>Customer</p>
            </a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="Emp_Customer_view">
                    <i class="fas fa-user"></i>
                    <p>Customer</p>
                </a>
            </li>
        {% endif %}



        {% if menu == "order" %}
         <li class="nav-item active">
           <a class="nav-link" href="Emp_Order_view">
             <i class="fas fa-shopping-cart"></i>
             <p>Order</p>
           </a>
         </li>
         {% else %}
          <li class="nav-item">
            <a class="nav-link" href="Emp_Order_view">
              <i class="fas fa-shopping-cart"></i>
              <p>Order</p>
            </a>
          </li>

         {% endif %}
         
       </ul>
     </div>
   </div>