{% include 'Admin/Includes/header.html' %}
</head>

<body class="">
  <div class="wrapper ">
    {% include 'Admin/Includes/menubar.html' %}

    <div class="main-panel">


      {% include 'Admin/Includes/navbar.html' %}


      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Area</h4>
                  
                </div>
                <div class="card-body">
                  <form action="get_area" method="post">
                    <div class="row">
                      <div class="col-md-5">
                        <div class="form-group">
                          <label class="bmd-label-floating">Area Name</label>
                          <input name="area_names" type="text" maxlength="30" class="form-control" autocomplete="off"  required>
                        </div>
                      </div>
                   
                    <button type="submit" class="btn btn-primary pull-right">Add Area</button>
                    <div class="clearfix"></div>
                    </div>
                  </form>
                </div>
              </div>
            </div>          
    </div>
  </div>



  <!-- display Area -->
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title">Display Area</h4>
              
            </div>
            <div class="card-body">

              
              {% if count != 0 %}
            
                <table class="table" id="myTable">
                  <thead class=" text-primary">
                    <th>
                      S.NO
                    </th>
                    <th>
                      Area Name
                    </th>
                    <th>
                      Action
                    </th>                 
                  </thead>

                  <tbody>

                    <!--   loop data   -->
                    {% set count = namespace(value=1) %}
                    {% for key, value in area_data.items()  %}
                      <tr>
                        <td style="display: none;">  {{ key }} </td>
                        <td>{{ count.value }}</td>
                        {% set count.value = count.value + 1 %}
                        <td>
                          {{ value['name'] }}
                        </td>
                        <td class="text-primary">
                          <input class="btn2" style="color: #fff; border:none; background-color: #74EE37 ; width: 70px; cursor: pointer;"  type="submit" value="delete"  name="">
                          <input class="btn1" style="color: #fff; border:none; background-color: #ffbe00 ; width: 70px; cursor: pointer;"  type="submit" value="Edit"  name="">
                        </td>
                      </tr>
                    {% endfor %}

                  </tbody>
                </table>

              {% else %}
             
                <!-- if there is no data -->
                <center>
                  <p style="color: #BCBCBC;font-weight: bold;">Nothing to show</p>
                </center>

              {% endif %}

             <!-- endif -->



            </div>
          </div>
        </div>          
</div>
</div>




  <script type="text/javascript">
       //-----------  Configuration ----------------- //

     var firebaseConfig = {
        apiKey: "AIzaSyAAZSDa4A3ytc-QbeIYCV86QPzlexS2HOg",
        authDomain: "telemedicines-123c0.firebaseapp.com",
        databaseURL: "https://telemedicines-123c0.firebaseio.com",
        projectId: "telemedicines-123c0",
        storageBucket: "telemedicines-123c0.appspot.com",
        messagingSenderId: "490806536805",
        appId: "1:490806536805:web:73a3b462b3e52df8c5748c",
        measurementId: "G-QPEMY0KWSQ"
      };
      // Initialize Firebase
      firebase.initializeApp(firebaseConfig);
      var database = firebase.database();


    // -----------------------------------------------------//  

     // -----------------------------------------------------//  

        function reset_password()
        {

           var email=document.getElementById("admin_email").innerHTML;
           firebase.auth().sendPasswordResetEmail(email)
            .then(function(result) {
              // swal("Welcome to Tele Medinices ")
              alert("Link has been send to your Gmail Account");

              

          }).catch(function(error) {
              alert("Link did not send to your Gmail Account");

          });

          
       }


  </script>


 

 <script>
    $(document).ready(function() {
      $().ready(function() {
        $sidebar = $('.sidebar');

        $sidebar_img_container = $sidebar.find('.sidebar-background');

        $full_page = $('.full-page');

        $sidebar_responsive = $('body > .navbar-collapse');

        window_width = $(window).width();

        fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();

        if (window_width > 767 && fixed_plugin_open == 'Dashboard') {
          if ($('.fixed-plugin .dropdown').hasClass('show-dropdown')) {
            $('.fixed-plugin .dropdown').addClass('open');
          }

        }

        $('.fixed-plugin a').click(function(event) {
          // Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
          if ($(this).hasClass('switch-trigger')) {
            if (event.stopPropagation) {
              event.stopPropagation();
            } else if (window.event) {
              window.event.cancelBubble = true;
            }
          }
        });

        $('.fixed-plugin .active-color span').click(function() {
          $full_page_background = $('.full-page-background');

          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-color', new_color);
          }

          if ($full_page.length != 0) {
            $full_page.attr('filter-color', new_color);
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.attr('data-color', new_color);
          }
        });

        $('.fixed-plugin .background-color .badge').click(function() {
          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('background-color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-background-color', new_color);
          }
        });

        $('.fixed-plugin .img-holder').click(function() {
          $full_page_background = $('.full-page-background');

          $(this).parent('li').siblings().removeClass('active');
          $(this).parent('li').addClass('active');


          var new_image = $(this).find("img").attr('src');

          if ($sidebar_img_container.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            $sidebar_img_container.fadeOut('fast', function() {
              $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
              $sidebar_img_container.fadeIn('fast');
            });
          }

          if ($full_page_background.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $full_page_background.fadeOut('fast', function() {
              $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
              $full_page_background.fadeIn('fast');
            });
          }

          if ($('.switch-sidebar-image input:checked').length == 0) {
            var new_image = $('.fixed-plugin li.active .img-holder').find("img").attr('src');
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
            $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.css('background-image', 'url("' + new_image + '")');
          }
        });

        $('.switch-sidebar-image input').change(function() {
          $full_page_background = $('.full-page-background');

          $input = $(this);

          if ($input.is(':checked')) {
            if ($sidebar_img_container.length != 0) {
              $sidebar_img_container.fadeIn('fast');
              $sidebar.attr('data-image', '#');
            }

            if ($full_page_background.length != 0) {
              $full_page_background.fadeIn('fast');
              $full_page.attr('data-image', '#');
            }

            background_image = true;
          } else {
            if ($sidebar_img_container.length != 0) {
              $sidebar.removeAttr('data-image');
              $sidebar_img_container.fadeOut('fast');
            }

            if ($full_page_background.length != 0) {
              $full_page.removeAttr('data-image', '#');
              $full_page_background.fadeOut('fast');
            }

            background_image = false;
          }
        });

        $('.switch-sidebar-mini input').change(function() {
          $body = $('body');

          $input = $(this);

          if (md.misc.sidebar_mini_active == true) {
            $('body').removeClass('sidebar-mini');
            md.misc.sidebar_mini_active = false;

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar();

          } else {

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar('destroy');

            setTimeout(function() {
              $('body').addClass('sidebar-mini');

              md.misc.sidebar_mini_active = true;
            }, 300);
          }

          // we simulate the window Resize so the charts will get updated in realtime.
          var simulateWindowResize = setInterval(function() {
            window.dispatchEvent(new Event('resize'));
          }, 180);

          // we stop the simulation of Window Resize after the animations are completed
          setTimeout(function() {
            clearInterval(simulateWindowResize);
          }, 1000);

        });
      });
    });
  </script>

  <script>
    
    
    //<------------- Delete from table and Database  ----------------->

    $('.table tbody').on('click','.btn2',function(){
      $(this).closest('tr').remove();
      var cursor=$(this).closest('tr');
      var col1=cursor.find('td:eq(0)').text();
      
      col1=col1.trim();
      console.log(col1);

      database.ref('area/'+col1).remove();
                 

    });

    $('.table tbody').on('click','.btn1',function(){
      var cursor=$(this).closest('tr');
      var col1=cursor.find('td:eq(0)').text();
      col1=col1.trim();
      console.log(col1);

      var name=cursor.find('td:eq(2)').text();
      name=name.trim();
      Swal.fire({
        animation: "slide-from-top",
        showConfirmButton: false,

       
       html:
       '<form action="area_update" method="Post" '+
        '<h4> Area Update </h4>'+

        '<div style="display:none;" class="form-group">'+
            '<label>Area ID</label>'+
            '<input required name="areaID" type="text" class="form-control"  value='+col1+'>' +

        '</div>'+

        '<div class="form-group">'+
            '<label>Area Name</label>'+
            '<input  required name="area_name" type="text" class="form-control"  value='+name+'>' +

        '</div>'+
       



        '<button type="submit"  class="btn btn-primary pull-right"style="font-weight:bold">update Product</button>'+
       '</form>',

      });
    




    });





      
  </script>
{% include 'Admin/Includes/footer.html' %}