{% include 'Admin/Includes/header.html' %}
<body class="">
  <div class="wrapper ">
    {% include 'Admin/Includes/menubar.html' %}



    <div class="main-panel">

      {% include 'Admin/Includes/navbar.html' %}


      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-10">
              <div class="card">
               <div class="card-header card-header-primary" style="background: linear-gradient(to bottom right, #cc66ff 0%, #cc00cc 100%);">
                <h4 class="card-title" >Customer Information</h4> 
                <input style="color: #fff;margin-left: 700px; margin-top: -60px;background-color: purple;border-radius: 10px; border:none; width: 70px;cursor: pointer; " type="submit" value="Edit" onclick="Popup_edit()"  name="">
<!--      Add customer button           -->
                

                  

                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table" id="myTable">
                      <thead class=" text-primary">
                            
                          <tr>
                              <th>
                                  <i class="fas fa-file-signature"></i>
                                  Name &nbsp;&nbsp;

                                  <input style="background-color: #fff;border:none; font-size: 20px;font-family:'Georgia';"  type="text" value={{ name }} style="border: none" disabled>
                              </th>
                          </tr>
                          <tr>
                              <th>
                                <i class="fas fa-list-ol"></i>
                                  NIC &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                  <input style="background-color: #fff;border:none; font-size: 20px;font-family:'Georgia';" type="text" value={{ nic }} name="nic" style="border: none" disabled>
                              </th>
                          </tr>
                          <tr>
                                <th>
                                    <i class="fas fa-mobile-alt"></i>
                                    Phone &nbsp;&nbsp;&nbsp;&nbsp;

                                    <input style="background-color: #fff;border:none; font-size: 20px;font-family:'Georgia';"  type="text" value={{ phone }} style="border: none" disabled>
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    <i class="fas fa-map-marker"></i>
                                     Address  &nbsp;

                                    <input style="background-color: #fff;border:none; font-size: 20px;font-family:'Georgia'; width: 700px; "  type="text" value={{ address }} style="border: none" disabled>
                                </th>
                            </tr>
                            <tr>
                                    <th>
                                        <i class="fas fa-user"></i>
                                        Gender &nbsp;&nbsp;

                                        <input style="background-color: #fff;border:none; font-size: 20px;font-family:'Georgia';"  type="text" value={{ gender }} style="border: none" disabled>
                                    </th>
                                </tr>
                                <tr>
                                    <th>
                                         <i class="fas fa-sort-numeric-up-alt"></i> 
                                         Age &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                        <input  style="background-color: #fff;border:none; font-size: 20px;font-family:'Georgia';" type="text" value={{ ages }} style="border: none" disabled>
                                    </th>
                                </tr>
                       
                      </thead>
                         
                    </table>
                  </div>
                </div>
              </div>
            </div>

    </div>
  </div>

  <!-- order information -->
  <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-10">
              <div class="card">
               <div class="card-header card-header-primary" style="background: linear-gradient(to bottom right, #cc66ff 0%, #cc00cc 100%);">
                <h4 class="card-title" >Order Information</h4>
<!--      Add customer button           -->
                  

                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table" id="myTable">
                      <thead class=" text-primary">
                       
                        <th>
                            <!-- <i class="fas fa-file-signature"></i> -->
                          Product Name
                          <!-- <input style="background-color: #fff;border:none; font-size: 20px;font-family:'Georgia';" type="text" value={{ product_name }} > -->
                        </th>
                        <th>
                            <!-- <i class="fas fa-file-signature"></i> -->
                          Price
                          <!-- <input style="background-color: #fff;border:none; font-size: 20px;font-family:'Georgia';" type="text"  > -->
                        </th>
                        <th>
                            <!-- <i class="fas fa-file-signature"></i> -->
                          Quantity
                          <!-- <input style="background-color: #fff;border:none; font-size: 20px;font-family:'Georgia';" type="text" value={{ quantity }} > -->
                        </th>
                        <th>
                            <!-- <i class="fas fa-file-signature"></i> -->
                          Total Bill
                          <!-- <input style="background-color: #fff;border:none; font-size: 20px;font-family:'Georgia';" type="text" value={{ totalbill }} > -->
                        </th>
                         <th>
                            <!-- <i class="fas fa-file-signature"></i> -->
                          Date
                          <!-- <input style="background-color: #fff;border:none; font-size: 20px;font-family:'Georgia';" type="text" value={{ totalbill }} > -->
                        </th>
                        
                       
                      </thead>
                      <tbody>
                        {% set count = namespace(value=0) %}
                        {% for key, value in order.items() %}
                           
                          {% if value['Customer id'] == custid %}
                            {% for key1, value1 in order_detail.items() %}
                              {% if value1['Order id'] == key %}
                                <tr>
                                  <td>{{value1['Product Name']}}</td>
                                  <td>{{ value1['Price'] }}</td>
                                  <td>{{ value1['Quantity'] }}</td>
                                  <td>{{ value['Total bill'] }}</td>
                                  <td>{{ value['Date Time'] }}</td>
                                  {% set count.value = count.value + 1 %}
                                </tr>
                              {% endif %}
                            {% endfor %}
                          {% endif %}
                        {% endfor %}

                      </tbody>
                      
                    </table>
                  </div>
                </div>
              </div>
            </div>

    </div>

  </div>
  

  

  <script type="text/javascript">


      //-----------  Configuration ----------------- //

       var firebaseConfig = {
          apiKey: "AIzaSyAAZSDa4A3ytc-QbeIYCV86QPzlexS2HOg",
          authDomain: "telemedicines-123c0.firebaseapp.com",
          databaseURL: "https://telemedicines-123c0.firebaseio.com",
          projectId: "telemedicines-123c0",
          storageBucket: "telemedicines-123c0.appspot.com",
          messagingSenderId: "490806536805",
          appId: "1:490806536805:web:73a3b462b3e52df8c5748c",
          measurementId: "G-QPEMY0KWSQ"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        var database = firebase.database();


    // -----------------------------------------------------//  

    function reset_password()
    {

       var email=document.getElementById("admin_email").innerHTML;
       firebase.auth().sendPasswordResetEmail(email)
        .then(function(result) {
          // swal("Welcome to Tele Medinices ")
          alert("Link has been send to your Gmail Account");

          

      }).catch(function(error) {
          alert("Link did not send to your Gmail Account");

      });

      
   }


    var col1=""
    var col2=""
    $('.table tbody').on('click','.btn1',function(){

      var cursor=$(this).closest('tr');
      col1=cursor.find('td:eq(0)').text();
      col2=cursor.find('td:eq(1)').text();
      
      let url = 'http://127.0.0.1:5000/add_Order?Customer_Name='+col1+'&NIC='+col2;
      window.location=url

      
      

    });

    function myFunction() {

    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("myInput").value;

    filter = input;
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[2];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }       
    }
  }

 //   fetch('http://127.0.0.1/add_Order?Cuatomer_Name='+col1)
  // .then((response) => {
  //  return response.json();
  // });


    

  </script>

  <script>
      function  Popup_edit()
        {
          Swal.fire({
            animation: "slide-from-top",
            showConfirmButton: false,

           
           html:
           '<form action="customer_info_update" method="Post" '+
            '<h4> Customer Update Information </h4>'+
            '<div class="form-group">'+
                '<label>Name</label>'+
                '<input id="name" autocomplete="off" pattern="([a-zA-Z]{3,20}\s*)+"  required name="user_name" type="text" class="form-control" maxlength="20"   value={{ name }}>' +

            '</div>'+

            '<div class="form-group">'+
                '<label>Ages</label>'+
                '<input id="ages" autocomplete="off" maxlength="2"  pattern="^(0|[1-9][0-9]*)$" required name="Age" type="text" class="form-control"  value={{ ages }}>' +

            '</div>'+

            '<div style="display: none" class="form-group">'+
                '<label>CNIC</label>'+
                '<input id="nic" autocomplete="off" pattern="^[0-9+]{5}-[0-9+]{7}-[0-9]{1}$" required name="NIC" type="text" class="form-control"  value={{ nic }}>' +

            '</div>'+

            '<div class="form-group">'+
                '<label>phone Number</label>'+
                '<input id="phone" autocomplete="off"  required name="Phone" type="text" class="form-control" pattern="^((\+92)|(0092))-{0,1}\d{3}-{0,1}\d{7}$|^\d{11}$|^\d{4}-\d{7}$"  value={{ phone }}>'+

            '</div>'+

            '<div class="form-group">'+
                '<label>Address</label>'+
                '<input id="address" required name="address" type="text" class="form-control"  value={{ address }}>' +

            '</div>'+

            '<button type="submit"  class="btn btn-primary pull-right"style="font-weight:bold">update Customer</button>'+
           '</form>',

      });


    }
  function success()
  {
    Swal.fire({
      
      icon: 'success',
      title: 'Update Customer data',
      showConfirmButton: false,
      timer: 1500

      



     
    });
  }
    $(document).ready(function() {
      $().ready(function() {
        $sidebar = $('.sidebar');

        $sidebar_img_container = $sidebar.find('.sidebar-background');

        $full_page = $('.full-page');

        $sidebar_responsive = $('body > .navbar-collapse');

        window_width = $(window).width();

        fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();

        if (window_width > 767 && fixed_plugin_open == 'Dashboard') {
          if ($('.fixed-plugin .dropdown').hasClass('show-dropdown')) {
            $('.fixed-plugin .dropdown').addClass('open');
          }

        }

        $('.fixed-plugin a').click(function(event) {
          // Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
          if ($(this).hasClass('switch-trigger')) {
            if (event.stopPropagation) {
              event.stopPropagation();
            } else if (window.event) {
              window.event.cancelBubble = true;
            }
          }
        });

        $('.fixed-plugin .active-color span').click(function() {
          $full_page_background = $('.full-page-background');

          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-color', new_color);
          }

          if ($full_page.length != 0) {
            $full_page.attr('filter-color', new_color);
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.attr('data-color', new_color);
          }
        });

        $('.fixed-plugin .background-color .badge').click(function() {
          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('background-color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-background-color', new_color);
          }
        });

        $('.fixed-plugin .img-holder').click(function() {
          $full_page_background = $('.full-page-background');

          $(this).parent('li').siblings().removeClass('active');
          $(this).parent('li').addClass('active');


          var new_image = $(this).find("img").attr('src');

          if ($sidebar_img_container.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            $sidebar_img_container.fadeOut('fast', function() {
              $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
              $sidebar_img_container.fadeIn('fast');
            });
          }

          if ($full_page_background.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $full_page_background.fadeOut('fast', function() {
              $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
              $full_page_background.fadeIn('fast');
            });
          }

          if ($('.switch-sidebar-image input:checked').length == 0) {
            var new_image = $('.fixed-plugin li.active .img-holder').find("img").attr('src');
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
            $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.css('background-image', 'url("' + new_image + '")');
          }
        });

        $('.switch-sidebar-image input').change(function() {
          $full_page_background = $('.full-page-background');

          $input = $(this);

          if ($input.is(':checked')) {
            if ($sidebar_img_container.length != 0) {
              $sidebar_img_container.fadeIn('fast');
              $sidebar.attr('data-image', '#');
            }

            if ($full_page_background.length != 0) {
              $full_page_background.fadeIn('fast');
              $full_page.attr('data-image', '#');
            }

            background_image = true;
          } else {
            if ($sidebar_img_container.length != 0) {
              $sidebar.removeAttr('data-image');
              $sidebar_img_container.fadeOut('fast');
            }

            if ($full_page_background.length != 0) {
              $full_page.removeAttr('data-image', '#');
              $full_page_background.fadeOut('fast');
            }

            background_image = false;
          }
        });

        $('.switch-sidebar-mini input').change(function() {
          $body = $('body');

          $input = $(this);

          if (md.misc.sidebar_mini_active == true) {
            $('body').removeClass('sidebar-mini');
            md.misc.sidebar_mini_active = false;

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar();

          } else {

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar('destroy');

            setTimeout(function() {
              $('body').addClass('sidebar-mini');

              md.misc.sidebar_mini_active = true;
            }, 300);
          }

          // we simulate the window Resize so the charts will get updated in realtime.
          var simulateWindowResize = setInterval(function() {
            window.dispatchEvent(new Event('resize'));
          }, 180);

          // we stop the simulation of Window Resize after the animations are completed
          setTimeout(function() {
            clearInterval(simulateWindowResize);
          }, 1000);

        });
      });
    });
  </script>
{% include 'Admin/Includes/footer.html' %}