
{% include 'Admin/Includes/header.html' %}
<body class="">
     {% include 'Admin/Includes/menubar.html' %}   
    <div class="main-panel">


      {% include 'Admin/Includes/navbar.html' %}
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-10">
              <div class="card">
               <div class="card-header card-header-primary">
                  <h4 class="card-title" >Product Display</h4> 
                  <input style="color: #fff;margin-left: 700px; margin-top: -60px;background-color: purple;border-radius: 10px; border:none; width: 70px;cursor: pointer; " type="submit" value="Edit" onclick="Popup()"  name="">
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table" id="myTable">
                      <thead class=" text-primary">
                            
                          <tr>
                              <th>
                                  <i class="fas fa-file-signature"></i>
                                  Product Type Name &nbsp;&nbsp;

                                  <input style="border: none;background-color: #fff"  type="text" value={{ type_name }}  disabled>
                              </th>
                          </tr>
                          <tr>
                              <th>
                                <i class="fas fa-list-ol"></i>
                                 Product Name &nbsp;&nbsp;
                                  <input  type="text" value={{ name }} style="border: none;background-color: #fff" disabled>
                              </th>
                          </tr>
                          <tr>
                                <th>
                                    <i class="fas fa-mobile-alt"></i>
                                   Formular &nbsp;&nbsp;

                                    <input  type="text" value={{ formular }} style="border: none;background-color: #fff" disabled>
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    <i class="fas fa-map-marker"></i>
                                    Description &nbsp;&nbsp;

                                    <textarea name="discription"  class="form-control" rows="5" disabled> {{description}} </textarea>
                          
                                </th>
                            </tr>
                            
                      </thead>
                         
                    </table>
                  </div>
                </div>
              </div>
            </div>

    </div>
  </div>



  

  <script type="text/javascript">
  	var col1=""
  	var col2=""
  	$('.table tbody').on('click','.btn1',function(){

  		var cursor=$(this).closest('tr');
  		col1=cursor.find('td:eq(0)').text();
  		col2=cursor.find('td:eq(1)').text();
  		
  		let url = 'http://127.0.0.1:5000/add_Order?Customer_Name='+col1+'&NIC='+col2;
  		window.location=url

  		
  		

  	});
  
  	function myFunction() {

	  var input, filter, table, tr, td, i, txtValue;
	  input = document.getElementById("myInput").value;

	  filter = input;
	  table = document.getElementById("myTable");
	  tr = table.getElementsByTagName("tr");
	  for (i = 0; i < tr.length; i++) {
	    td = tr[i].getElementsByTagName("td")[2];
	    if (td) {
	      txtValue = td.textContent || td.innerText;
	      if (txtValue.toUpperCase().indexOf(filter) > -1) {
	        tr[i].style.display = "";
	      } else {
	        tr[i].style.display = "none";
	      }
	    }       
	  }
	}

       //-----------  Configuration ----------------- //

     var firebaseConfig = {
        apiKey: "AIzaSyAAZSDa4A3ytc-QbeIYCV86QPzlexS2HOg",
        authDomain: "telemedicines-123c0.firebaseapp.com",
        databaseURL: "https://telemedicines-123c0.firebaseio.com",
        projectId: "telemedicines-123c0",
        storageBucket: "telemedicines-123c0.appspot.com",
        messagingSenderId: "490806536805",
        appId: "1:490806536805:web:73a3b462b3e52df8c5748c",
        measurementId: "G-QPEMY0KWSQ"
      };
      // Initialize Firebase
      firebase.initializeApp(firebaseConfig);
      var database = firebase.database();


    // -----------------------------------------------------//  

     // -----------------------------------------------------//  

        function reset_password()
        {

           var email=document.getElementById("admin_email").innerHTML;
           firebase.auth().sendPasswordResetEmail(email)
            .then(function(result) {
              // swal("Welcome to Tele Medinices ")
              alert("Link has been send to your Gmail Account");

              

          }).catch(function(error) {
              alert("Link did not send to your Gmail Account");

          });

          
       }



  </script>

  <script>
    $(document).ready(function() {
      $().ready(function() {
        $sidebar = $('.sidebar');

        $sidebar_img_container = $sidebar.find('.sidebar-background');

        $full_page = $('.full-page');

        $sidebar_responsive = $('body > .navbar-collapse');

        window_width = $(window).width();

        fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();

        if (window_width > 767 && fixed_plugin_open == 'Dashboard') {
          if ($('.fixed-plugin .dropdown').hasClass('show-dropdown')) {
            $('.fixed-plugin .dropdown').addClass('open');
          }

        }

        $('.fixed-plugin a').click(function(event) {
          // Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
          if ($(this).hasClass('switch-trigger')) {
            if (event.stopPropagation) {
              event.stopPropagation();
            } else if (window.event) {
              window.event.cancelBubble = true;
            }
          }
        });

        $('.fixed-plugin .active-color span').click(function() {
          $full_page_background = $('.full-page-background');

          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-color', new_color);
          }

          if ($full_page.length != 0) {
            $full_page.attr('filter-color', new_color);
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.attr('data-color', new_color);
          }
        });

        $('.fixed-plugin .background-color .badge').click(function() {
          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('background-color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-background-color', new_color);
          }
        });

        $('.fixed-plugin .img-holder').click(function() {
          $full_page_background = $('.full-page-background');

          $(this).parent('li').siblings().removeClass('active');
          $(this).parent('li').addClass('active');


          var new_image = $(this).find("img").attr('src');

          if ($sidebar_img_container.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            $sidebar_img_container.fadeOut('fast', function() {
              $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
              $sidebar_img_container.fadeIn('fast');
            });
          }

          if ($full_page_background.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $full_page_background.fadeOut('fast', function() {
              $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
              $full_page_background.fadeIn('fast');
            });
          }

          if ($('.switch-sidebar-image input:checked').length == 0) {
            var new_image = $('.fixed-plugin li.active .img-holder').find("img").attr('src');
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
            $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.css('background-image', 'url("' + new_image + '")');
          }
        });

        $('.switch-sidebar-image input').change(function() {
          $full_page_background = $('.full-page-background');

          $input = $(this);

          if ($input.is(':checked')) {
            if ($sidebar_img_container.length != 0) {
              $sidebar_img_container.fadeIn('fast');
              $sidebar.attr('data-image', '#');
            }

            if ($full_page_background.length != 0) {
              $full_page_background.fadeIn('fast');
              $full_page.attr('data-image', '#');
            }

            background_image = true;
          } else {
            if ($sidebar_img_container.length != 0) {
              $sidebar.removeAttr('data-image');
              $sidebar_img_container.fadeOut('fast');
            }

            if ($full_page_background.length != 0) {
              $full_page.removeAttr('data-image', '#');
              $full_page_background.fadeOut('fast');
            }

            background_image = false;
          }
        });

        $('.switch-sidebar-mini input').change(function() {
          $body = $('body');

          $input = $(this);

          if (md.misc.sidebar_mini_active == true) {
            $('body').removeClass('sidebar-mini');
            md.misc.sidebar_mini_active = false;

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar();

          } else {

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar('destroy');

            setTimeout(function() {
              $('body').addClass('sidebar-mini');

              md.misc.sidebar_mini_active = true;
            }, 300);
          }

          // we simulate the window Resize so the charts will get updated in realtime.
          var simulateWindowResize = setInterval(function() {
            window.dispatchEvent(new Event('resize'));
          }, 180);

          // we stop the simulation of Window Resize after the animations are completed
          setTimeout(function() {
            clearInterval(simulateWindowResize);
          }, 1000);

        });
      });
    });



    function  Popup()
    {
      Swal.fire({
        animation: "slide-from-top",
        showConfirmButton: false,

       
       html:
       '<form action="product_update" method="Post" '+
        '<h4> Product Update Information </h4>'+

        '<div style="display:none;" class="form-group">'+
            '<label>Item ID</label>'+
            '<input required name="itemID" type="text" class="form-control"  value={{ item_id }}>' +

        '</div>'+

        '<div style="display:none;" class="form-group">'+
            '<label>Product id</label>'+
            '<input  required name="product_id" type="text" class="form-control"  value={{ product_id }}>' +

        '</div>'+
        '<div class="form-group">'+
            '<label>Product Type</label>'+
            '<input required name="typeName" type="text" class="form-control"  value={{ type_name }}>' +

        '</div>'+

        '<div class="form-group">'+
            '<label>Product Name</label>'+
            '<input required name="name" type="text" class="form-control"  value={{ name }}>' +

        '</div>'+

        '<div class="form-group">'+
            '<label>Formular</label>'+
            '<input  required name="formular" type="text" class="form-control"  value={{ formular }}>' +

        '</div>'+





        '<button type="submit"  class="btn btn-primary pull-right"style="font-weight:bold">update Product</button>'+
       '</form>',

      });


    }

  </script>
{% include 'Admin/Includes/footer.html' %}