{% include 'Admin/Includes/header.html' %}
<body class="">
  <div class="wrapper ">
    {% include 'Admin/Includes/menubar.html' %}

    <div class="main-panel">


      {% include 'Admin/Includes/navbar.html' %}
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
               <div class="card-header card-header-primary" style="background: linear-gradient(to bottom right, #cc66ff 0%, #cc00cc 100%);">
                <h4 class="card-title">Stock View</h4>
                 <button onclick="print_summary()" type="submit" class="btn btn-primary pull-right"><i class="fas fa-print" > </i> print</button>
<!--      Add customer button           -->
                 

                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table" id="myTable">
                      <thead class=" text-primary">
                        <th>
                          S.NO
                        </th>
                        <th>
                          company name
                        </th>
                        <th>
                          Product type
                        </th>
                        <th>
                          Product Name
                        </th>
                        <th>
                          Quantity
                        </th>
                        <th>
                          Prices
                        </th>
                        <th>
                          Sell Prices
                        </th>
                        <th>
                          Expire Date
                        </th>
                         <th>
                          Action
                        </th>
                      
                       
                      </thead>
                      <tbody>  
                          {% set count = namespace(value=1) %}
                          {% for key, value in stock_result.items()  %}
                             {% for key1, value1 in supplier_result.items()  %}
                                {% if key1 == value['supplier_id'] %}

                                  {% for key3, value3 in product_result.items()  %}
                                    {% if key3 == value['product_id'] %}

                                      {% for key4, value4 in product_type.items()  %}
                                        {% if key4 == value['Item_id'] %}
                                          {% if value["Status"] == 'Arrived' %}
                                            {% if value["Quantity"] | int <= 10 %}
                                              <tr style="background-color: #F37153;color: #fff">
                                                <td>{{ count.value }}</td>
                                                {% set count.value = count.value + 1 %}
                                                <td>{{value1['Company_name']}}</td>
                                                <td>{{value4['Product Type']}}</td>
                                                <td>{{value3['Name']}}</td>
                                                <td>{{value['Quantity']}}</td>
                                                <td>{{value['company price']}}</td>
                                                <td>{{value['Sell price']}}</td>
                                                <td>{{value['expire_date']}}</td>
                                                <td style="display: none" > {{ key }} </td>
                                                <td style="display: none" >{{ key3  }}</td>
                                                <td>  <input class="delete" style="color: #fff; border:none; background-color:#74EE37; width: 70px; cursor: pointer;"  type="submit" value="Delete"  name=""></td>
                                              </tr>
                                            {% else %}


                                                <tr>
                                                <td>{{ count.value }}</td>
                                                {% set count.value = count.value + 1 %}
                                                <td>{{value1['Company_name']}}</td>
                                                <td>{{value4['Product Type']}}</td>
                                                <td>{{value3['Name']}}</td>
                                                <td>{{value['Quantity']}}</td>
                                                <td>{{value['company price']}}</td>
                                                <td>{{value['Sell price']}}</td>
                                                <td>{{value['expire_date']}}</td>
                                                <td style="display: none" > {{ key }} </td>
                                                <td style="display: none" >{{ key3  }}</td>
                                                <td>  <input class="delete" style="color: #fff; border:none; background-color:#74EE37; width: 70px; cursor: pointer;"  type="submit" value="Delete"  name=""></td>
                                              </tr>

                                            {% endif %}
                                          {% endif %}



                                        {% endif %}
                                      {% endfor %}
                                    {% endif %}
                                  {% endfor %}
                                {% endif %}
                            {% endfor %}   
                          {% endfor %}                  
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

    </div>
  </div>

  <script type="text/javascript">

     //-----------  Configuration ----------------- //

     var firebaseConfig = {
        apiKey: "AIzaSyAAZSDa4A3ytc-QbeIYCV86QPzlexS2HOg",
        authDomain: "telemedicines-123c0.firebaseapp.com",
        databaseURL: "https://telemedicines-123c0.firebaseio.com",
        projectId: "telemedicines-123c0",
        storageBucket: "telemedicines-123c0.appspot.com",
        messagingSenderId: "490806536805",
        appId: "1:490806536805:web:73a3b462b3e52df8c5748c",
        measurementId: "G-QPEMY0KWSQ"
      };
      // Initialize Firebase
      firebase.initializeApp(firebaseConfig);
      var database = firebase.database();


    // -----------------------------------------------------//  



    var nic=""
   
    $('.table tbody').on('click','.btn3',function(){

      var cursor=$(this).closest('tr');
      nic=cursor.find('td:eq(2)').text();
      
      
      let url = 'http://127.0.0.1:5000/customer_display?nic='+nic;
      window.location=url

      
      

    });
// <!--    # print stock-->
  function print_summary()
  {
      // document.getElementById("name").style
      print("")
     
  }






    //<------------- Delete from table and Database  ----------------->

    $('.table tbody').on('click','.delete',function(){
      $(this).closest('tr').remove();
      var cursor=$(this).closest('tr');
      var stock_id=cursor.find('td:eq(8)').text();
      
      stock_id=stock_id.trim();

      var product_id=cursor.find('td:eq(9)').text();
      
      product_id=product_id.trim();

      var Quantity=cursor.find('td:eq(4)').text();
      
      Quantity=Quantity.trim();

      console.log("Quantity",Quantity)

      // delet stock in  table

      // now update quantity form product quantity table

      var productRef = database.ref('Product Quantity');
      var quantity1="";
      var product_id1=""
     
       productRef.on('value', function(snapshot) {
            const object=snapshot.val()
            
            var count=1;
            
             for (const [key, value] of Object.entries(object)) {


              if(value['product id'] == product_id)
              {
               
                var q=value['quantity'];
                console.log("Quantity",q);
                var update_quantity=parseInt(q) - parseInt(Quantity);
                console.log("update_quantity",update_quantity)
          
                quantity1=String(update_quantity);
                product_id1=key
                
              }


             
               
          }

          console.log("count",count)
          if (count==1)
          {
            count=count+1
            
            console.log("Product Name",quantity1);
            data={
              "quantity":String(quantity1)
            }
           
          }
          

      });


      // console.log("Product Nameq",quantity1);
      // // console.log("data",data);
      // console.log("productq",product_id1);
      // console.log("update stock_id1",stock_id);
       
      database.ref("Stock/"+stock_id).remove();

      //<--------------------------------------------------------------------------->




    });



    //<---------------------------------------------------------------------->


    // <--------------------- Searching from table -------------------------->

    function myFunction() {

    var input, filter, table, tr, td, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td") ;
    for(j=0 ; j<td.length ; j++)
    {
      let tdata = td[j] ;
      if (tdata) {
        if (tdata.innerHTML.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
          break ;
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }

  }
  
  //<---------------------------------------------------------------------->


 //   fetch('http://127.0.0.1/add_Order?Cuatomer_Name='+col1)
  // .then((response) => {
  //  return response.json();
  // });


    

  </script>

  <script>
    $(document).ready(function() {
      $().ready(function() {
        $sidebar = $('.sidebar');

        $sidebar_img_container = $sidebar.find('.sidebar-background');

        $full_page = $('.full-page');

        $sidebar_responsive = $('body > .navbar-collapse');

        window_width = $(window).width();

        fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();

        if (window_width > 767 && fixed_plugin_open == 'Dashboard') {
          if ($('.fixed-plugin .dropdown').hasClass('show-dropdown')) {
            $('.fixed-plugin .dropdown').addClass('open');
          }

        }

        $('.fixed-plugin a').click(function(event) {
          // Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
          if ($(this).hasClass('switch-trigger')) {
            if (event.stopPropagation) {
              event.stopPropagation();
            } else if (window.event) {
              window.event.cancelBubble = true;
            }
          }
        });

        $('.fixed-plugin .active-color span').click(function() {
          $full_page_background = $('.full-page-background');

          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-color', new_color);
          }

          if ($full_page.length != 0) {
            $full_page.attr('filter-color', new_color);
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.attr('data-color', new_color);
          }
        });

        $('.fixed-plugin .background-color .badge').click(function() {
          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('background-color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-background-color', new_color);
          }
        });

        $('.fixed-plugin .img-holder').click(function() {
          $full_page_background = $('.full-page-background');

          $(this).parent('li').siblings().removeClass('active');
          $(this).parent('li').addClass('active');


          var new_image = $(this).find("img").attr('src');

          if ($sidebar_img_container.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            $sidebar_img_container.fadeOut('fast', function() {
              $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
              $sidebar_img_container.fadeIn('fast');
            });
          }

          if ($full_page_background.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $full_page_background.fadeOut('fast', function() {
              $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
              $full_page_background.fadeIn('fast');
            });
          }

          if ($('.switch-sidebar-image input:checked').length == 0) {
            var new_image = $('.fixed-plugin li.active .img-holder').find("img").attr('src');
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
            $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.css('background-image', 'url("' + new_image + '")');
          }
        });

        $('.switch-sidebar-image input').change(function() {
          $full_page_background = $('.full-page-background');

          $input = $(this);

          if ($input.is(':checked')) {
            if ($sidebar_img_container.length != 0) {
              $sidebar_img_container.fadeIn('fast');
              $sidebar.attr('data-image', '#');
            }

            if ($full_page_background.length != 0) {
              $full_page_background.fadeIn('fast');
              $full_page.attr('data-image', '#');
            }

            background_image = true;
          } else {
            if ($sidebar_img_container.length != 0) {
              $sidebar.removeAttr('data-image');
              $sidebar_img_container.fadeOut('fast');
            }

            if ($full_page_background.length != 0) {
              $full_page.removeAttr('data-image', '#');
              $full_page_background.fadeOut('fast');
            }

            background_image = false;
          }
        });

        $('.switch-sidebar-mini input').change(function() {
          $body = $('body');

          $input = $(this);

          if (md.misc.sidebar_mini_active == true) {
            $('body').removeClass('sidebar-mini');
            md.misc.sidebar_mini_active = false;

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar();

          } else {

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar('destroy');

            setTimeout(function() {
              $('body').addClass('sidebar-mini');

              md.misc.sidebar_mini_active = true;
            }, 300);
          }

          // we simulate the window Resize so the charts will get updated in realtime.
          var simulateWindowResize = setInterval(function() {
            window.dispatchEvent(new Event('resize'));
          }, 180);

          // we stop the simulation of Window Resize after the animations are completed
          setTimeout(function() {
            clearInterval(simulateWindowResize);
          }, 1000);

        });
      });
    });
  </script>
{% include 'Admin/Includes/footer.html' %}