
{% include 'Admin/Includes/header.html' %}
<body class="">
  <div class="wrapper ">
    
    {% include 'Admin/Includes/menubar.html' %}

    
  <div class="main-panel">


    {% include 'Admin/Includes/navbar.html' %}

      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Supplier View</h4>
                  <form action="Supplier_info">
                  <input style="color: #fff;margin-left: 900px; margin-top: -60px;background-color: purple;border-radius: 10px; border:none; width: 70px;cursor: pointer; " type="submit" value="ADD" name="">
                  </form>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table" id="myTable">
                      <thead class=" text-primary">
                        <th>
                          ID
                        </th>
                        <th>
                         Supplier Name
                        </th>
                        <th>
                        Company
                        </th>
                        <th>
                        Email 
                        </th>
                        
                        <th>
                         Phone Number
                        </th>

                        <th>
                         Action
                      
                        </th>
                      
                      </thead>
                      <tbody>
                          {% set count = namespace(value=1) %}
                          {% for key, value in supplier_view.items()  %}

                        <tr>
                          <td>{{ count.value }}</td>
                            {% set count.value = count.value + 1 %}
                          <td>
                            {{value['Supplier_Name']}}
                          </td>
                          <td>
                            {{value['Company_name']}}
                          </td>
                          <td>
                            {{value['Email']}}
                          </td>
                          <td>
                            {{value['Phone']}}
                          </td>
                          <td id="supplier_key" style="display: none;">
                            {{ key }}
                          </td>

                          <td class="text-primary">
                            <input class="btn2" style="color: #fff; border:none; background-color: #F37153; width: 70px; cursor: pointer;"  type="submit" value="view"  name="">
                            <input class="btn3" style="color: #fff; border:none; background-color:#74EE37; width: 90px; cursor: pointer;"  type="submit" value="Delete"  name="">
                            <input class="btn1" style="color: #fff; border:none; background-color: #7DDE80; width: 90px; cursor: pointer;"  type="submit" value="Purchase"  name="" >
                            
                          </td>
                        </tr>
                        {% endfor %}
                        
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

    </div>
  </div>


  <script>


  // <--------------------- Searching from table -------------------------->

    function myFunction() {

     var input, filter, table, tr, td, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td") ;
    for(j=0 ; j<td.length ; j++)
    {
      let tdata = td[j] ;
      if (tdata) {
        if (tdata.innerHTML.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
          break ;
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }

  }
  
  //<---------------------------------------------------------------------->


      //-----------  Configuration ----------------- //

      var firebaseConfig = {
        apiKey: "AIzaSyAAZSDa4A3ytc-QbeIYCV86QPzlexS2HOg",
        authDomain: "telemedicines-123c0.firebaseapp.com",
        databaseURL: "https://telemedicines-123c0.firebaseio.com",
        projectId: "telemedicines-123c0",
        storageBucket: "telemedicines-123c0.appspot.com",
        messagingSenderId: "490806536805",
        appId: "1:490806536805:web:73a3b462b3e52df8c5748c",
        measurementId: "G-QPEMY0KWSQ"
      };
      // Initialize Firebase
      firebase.initializeApp(firebaseConfig);
      var database = firebase.database();


    // -----------------------------------------------------//  


    //<------------- Delete from table and Database  ----------------->

    $('.table tbody').on('click','.btn3',function(){
      $(this).closest('tr').remove();
      

      var cursor=$(this).closest('tr');
 
      var uid=cursor.find('td:eq(5)').text();
      uid=uid.trim();


      // Delete from database

      var customerRef = database.ref('Supplier');
      customerRef.on('value', function(snapshot) {
              const object=snapshot.val()
              
             for (const [key, value] of Object.entries(object)) {
              
              if ( key == uid)
              {
                
                 database.ref('Supplier/'+key).remove();
              }
               
          }
          
      });
    });



    //<---------------------------------------------------------------------->



    var col1=""
    var col2=""
    $('.table tbody').on('click','.btn1',function(){

      var cursor=$(this).closest('tr');
      col1=cursor.find('td:eq(2)').text();
     
      
      let url = 'http://127.0.0.1:5000/supplier_add_product?company_name='+col1;
      window.location=url

      
      

    });
    var Company_name=""
    $('.table tbody').on('click','.btn2',function(){
    
    var cursor=$(this).closest('tr');
    var uid=cursor.find('td:eq(5)').text();
    uid=uid.trim();

    let url = 'http://127.0.0.1:5000/supplier_display?user_id='+uid;
    window.location=url




    });


    $(document).ready(function() {
      $().ready(function() {
        $sidebar = $('.sidebar');

        $sidebar_img_container = $sidebar.find('.sidebar-background');

        $full_page = $('.full-page');

        $sidebar_responsive = $('body > .navbar-collapse');

        window_width = $(window).width();

        fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();

        if (window_width > 767 && fixed_plugin_open == 'Dashboard') {
          if ($('.fixed-plugin .dropdown').hasClass('show-dropdown')) {
            $('.fixed-plugin .dropdown').addClass('open');
          }

        }

        $('.fixed-plugin a').click(function(event) {
          // Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
          if ($(this).hasClass('switch-trigger')) {
            if (event.stopPropagation) {
              event.stopPropagation();
            } else if (window.event) {
              window.event.cancelBubble = true;
            }
          }
        });

        $('.fixed-plugin .active-color span').click(function() {
          $full_page_background = $('.full-page-background');

          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-color', new_color);
          }

          if ($full_page.length != 0) {
            $full_page.attr('filter-color', new_color);
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.attr('data-color', new_color);
          }
        });

        $('.fixed-plugin .background-color .badge').click(function() {
          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('background-color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-background-color', new_color);
          }
        });

        $('.fixed-plugin .img-holder').click(function() {
          $full_page_background = $('.full-page-background');

          $(this).parent('li').siblings().removeClass('active');
          $(this).parent('li').addClass('active');


          var new_image = $(this).find("img").attr('src');

          if ($sidebar_img_container.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            $sidebar_img_container.fadeOut('fast', function() {
              $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
              $sidebar_img_container.fadeIn('fast');
            });
          }

          if ($full_page_background.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $full_page_background.fadeOut('fast', function() {
              $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
              $full_page_background.fadeIn('fast');
            });
          }

          if ($('.switch-sidebar-image input:checked').length == 0) {
            var new_image = $('.fixed-plugin li.active .img-holder').find("img").attr('src');
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
            $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.css('background-image', 'url("' + new_image + '")');
          }
        });

        $('.switch-sidebar-image input').change(function() {
          $full_page_background = $('.full-page-background');

          $input = $(this);

          if ($input.is(':checked')) {
            if ($sidebar_img_container.length != 0) {
              $sidebar_img_container.fadeIn('fast');
              $sidebar.attr('data-image', '#');
            }

            if ($full_page_background.length != 0) {
              $full_page_background.fadeIn('fast');
              $full_page.attr('data-image', '#');
            }

            background_image = true;
          } else {
            if ($sidebar_img_container.length != 0) {
              $sidebar.removeAttr('data-image');
              $sidebar_img_container.fadeOut('fast');
            }

            if ($full_page_background.length != 0) {
              $full_page.removeAttr('data-image', '#');
              $full_page_background.fadeOut('fast');
            }

            background_image = false;
          }
        });

        $('.switch-sidebar-mini input').change(function() {
          $body = $('body');

          $input = $(this);

          if (md.misc.sidebar_mini_active == true) {
            $('body').removeClass('sidebar-mini');
            md.misc.sidebar_mini_active = false;

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar();

          } else {

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar('destroy');

            setTimeout(function() {
              $('body').addClass('sidebar-mini');

              md.misc.sidebar_mini_active = true;
            }, 300);
          }

          // we simulate the window Resize so the charts will get updated in realtime.
          var simulateWindowResize = setInterval(function() {
            window.dispatchEvent(new Event('resize'));
          }, 180);

          // we stop the simulation of Window Resize after the animations are completed
          setTimeout(function() {
            clearInterval(simulateWindowResize);
          }, 1000);

        });
      });
    });
  </script>
{% include 'Admin/Includes/footer.html' %}